textarea {
    min-height: 400px;
}
.read {
    background-color: white;
}
.not-yet{
    background-color: darkgrey;
}

.heading{
    color: black;
    font-weight:bolder;
}
.arch{
    max-width: 8%;
    max-height: 8%;
}